body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image:url('img/playa.jpg');
  background-repeat: no-repeat;
  font-size: 18px;
  overflow: hidden;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  /*border:20px solid red;*/
  /*border-radius:25px;*/
  height: 500px;
  width: 300px;
  background-size: 100% 100%;
  background-image:url('http://i.imgur.com/98BbqFr.gif');
  background-repeat: no-repeat;
  position:absolute;
}

.schizo{
  border-radius: 0px !important;
}

.colorChange {
  border: 50px solid blue;
}


